$boxAnime: all 0.4s ease-out;
$cardWhitespace: 2px;
html,body{
  height:100%;
  margin:0;
  font-size:62.5%;
}
.doc-wrap{
  background: url(../img/bg1.jpg);
  background-size: 400px 400px;
  margin:0;
  height:100%;
  min-height:100%;
  overflow:hidden;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  &>.top-panel{
    box-sizing:border-box;
    padding:3% 4%;
    flex: 0 0 55%;
    display:-webkit-flex;
    display:flex;
    flex-direction: column;
  }
  &>.side-panel{
    flex: 0 0 45%;
  }
  &.landscape{
    flex-direction: row;
  }
}
.tile-grid {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 0 auto;
  &.rotate {
    flex-direction: row;
  }
  &.div-3 > .grid-cell {
    flex: 0 0 33.3333%;
  }
  &.div-7 > .grid-cell {
    flex: 0 0 14.2857%;
  }
}
.bar-grid{
  flex: 0 0 auto;
  display:-webkit-flex;
  display:flex;
  flex-direction: column;
  &.rotate {
    flex-direction: column;
  }
  & > .grid-cell{
    height:3.5em;
    margin:0.1em;
  }
}
.grid-cell {
  position: relative;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  box-sizing: border-box;
  transition: 0.2s all ease-in-out;
}
.date-grid {
  box-sizing:border-box;
  .card {
    overflow: hidden;
    position: absolute;
    left: $cardWhitespace;
    top: $cardWhitespace;
    bottom: $cardWhitespace;
    right: $cardWhitespace;
    border-radius: 3px;
    border: 2px solid;
    box-sizing: border-box;
    color: #fff;
    transition: $boxAnime;
    cursor: pointer;
    text-shadow: 1px 1px 0px #222;
    &:active {
      transform: translate(1px, 1px);
    }
    &.disabled {
      border-color: #b0b0b0;
      background-color: #ededed;
      color: #333;
      text-shadow: 1px 1px 0px #999;
    }
    .content {
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 4;
      h5 {
        user-select: none;
        flex: 0 0 33.3333%;
        margin: 0;
        padding: 2px;
        font-family: "Trebuchet MS", Helvetica, "Microsoft JhengHei UI",
          sans-serif;
        font-weight: bold;
        small {
          padding: 0.1em 0.2em;
          font-size: 0.9em;
          color: rgba(255, 255, 255, 0.75);
        }
      }
      p {
        font-weight: bolder;
        user-select: none;
        flex: 0 0 66.6666%;
        margin: 0;
        padding: 0;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Trebuchet MS", Helvetica, "Microsoft JhengHei UI",
          sans-serif;
      }
    }
    &.disabled .content h5 small {
      color: #555;
    }
    .overlay {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 2;
    }
    .colorbar {
      transition: $boxAnime;
      position: absolute;
      box-sizing: border-box;
      z-index: 0;
      border-radius: 2px;
      left: 0;
      bottom: 0;
      top: 0;
      right: 0;
    }
  }
  .full.card {
    .content {
      flex-direction: row;
      h5{
        flex:0 0 25%;
      }
      p{
        justify-content: flex-start;
      }
    }
  }
}
